
<div resizable id="editContainer" class="jumbotron" ng-style="{ 'margin-top': topMargin }">
    <form id="editDestForm">
        <div class="container-fluid well">
            <div class="span3">
                <fieldset>
                    <legend>Edit Destination</legend>
                    <div class="row">
                        <div class="col-sm-12 column">
                            <label for="name">name:</label>
                        </div>
                        <div class="col-sm-12 column">
                            <input id="name" required placeholder="Name" ng-model="dest.name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 column">
                            <label for="description">description:</label>
                        </div>
                        <div class="col-sm-12 column">
                            <input id="description" required placeholder="Description" ng-model="dest.description" />
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
        <div class="container-fluid noPadding">
            <div id="btnDiv" class="row-fluid">
                <div class="span6">
                    <div class="pull-right"><button class="btn btn-primary" ng-click="SaveDest()">Save</button></div>
                    <!--<div class="pull-left"><button class="btn btn-danger" ng-click="CancelEdit()">Cancel</button></div>-->
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                $( window ).resize(function() {
                    console.log('reisizing');
                   /* $('.middle').css('top', function (index, curValue) {
                        return parseInt(curValue, 10) + 10 + 'px';
                    });*/
                });
            });
        </script>

    </form>
</div>

