/* angular seed defaults */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* custom styles */

body{
    margin-top:40px;
}
#gridBtnContainer {
    height: 700px;
    width: 800px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 400px;
    width: 800px;
}

#editDestForm label {
    margin-top: 15px;
    display: block;
}

#editDestForm input {
    width: 100%;
}

.ng-scope {
    positon: static;
}
#editContainer {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
}

#btnDiv {
    margin-top: 20px;
}

button {
    margin-right: 20px;
}

