
/* general styles */
body {
    min-height: 460px;
}

.noPadding {
    padding: 0;
}


.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #b94a48;
}

/* ng-grid styles */

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 400px;
    width: 800px;
}

/* page-specific styles - destList.html */

.myContainer {
    margin:0 auto;
    width: 800px;
}

/* page-specific styles - destEdit.html */


#editContainer {
    background-color: #grey;
    display: block;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    min-height: 383px;
    height: 410px;
}

#editContainer.jumbotron {
    background-color: lightgrey;
}

#editDestForm label {
    display: block;
}

#editDestForm input {
    width: 100%;
}

#editDestForm .well{
    background-color: #grey;
    margin-bottom: 0px;
}

#editDestForm .row {
    margin-bottom: 20px;
}

#btnDiv {
    margin-top: 20px;
}






